<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <title>Account Directory</title>
</head>

<body>

<div class="container">

    <h3>Account Directory</h3>
    <hr>

    <!-- Add a button -->
    <a th:href="@{/accounts/showFormForAdd}"
       class="btn btn-primary btn-sm mb-3">
        Add Account
    </a>

    <form th:action="@{/accounts/listByDate}" th:method="get">
        <input type="date" name="date" class="form-control" placeholder="Date" />
        <button type="submit">Submit</button>
    </form>

    <!--
    <input type="date" th:field="*{closingDate}"
           class="form-control mb-4 w-25" placeholder="Datum zatvaranja">
    <a th:href="@{/accounts/listByDate}"
       class="btn btn-primary btn-sm mb-3">
        Search by date
    </a>
    -->

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
        <tr>
            <th>Racun ID</th>
            <th>IBAN</th>
            <th>Tip računa</th>
            <th>Valuta</th>
            <th>Klijent ID</th>
            <th>Datum otvaranja</th>
            <th>Datum zatvaranja</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="tempAccount : ${accounts}">

            <td th:text="${tempAccount.racunId}" />
            <td th:text="${tempAccount.iban}" />
            <td th:text="${tempAccount.tipRacuna}" />
            <td th:text="${tempAccount.valuta}" />
            <td th:text="${tempAccount.klijentId}" />
            <td th:text="${tempAccount.datumOtvaranja}" />
            <td th:text="${tempAccount.datumZatvaranja}" />

            <td>
                <div class="row">

                    <div class="col-small">
                        <!-- Add "update" button/link -->
                        <form action="#" th:action="@{/accounts/showFormForUpdate}" method="POST">

                            <input type="hidden" name="accountId" th:value="${tempAccount.racunId}" />
                            <button type="submit" class="btn btn-info btn-sm me-1" style="float:left;">Update</button>

                        </form>

                        <!-- Add "delete" button/link -->
                        <form action="#" th:action="@{/accounts/delete}" method="POST">

                            <input type="hidden" name="accountId" th:value="${tempAccount.racunId}" />
                            <button type="submit" class="btn btn-danger btn-sm"
                                    onclick="if (!(confirm('Are you sure you want to delete this account?'))) return false">
                                Delete
                            </button>

                        </form>
                    </div>

                </div>
            </td>

        </tr>
        </tbody>
    </table>

</div>

</body>
</html>